{{ define "__subject" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
{{ end }}
 
 
{{ define "__alert_list" }}{{ range . }}
---
{{ if .Labels.owner }}@{{ .Labels.owner }}{{ end }}
**主题:** {{ .Annotations.summary }}

**类型:** {{ .Labels.alertname }}

**级别:** {{ .Labels.severity }} 

**实例:** {{ .Labels.instance }} 

**详情:** {{ index .Annotations "description" }}

**时间:** {{ dateInZone "2006.01.02 15:04:05" (.StartsAt) "Asia/Shanghai" }}
{{ end }}{{ end }}


{{ define "__resolved_list" }}{{ range . }}
---
{{ if .Labels.owner }}@{{ .Labels.owner }}{{ end }}
**主题:** {{ .Annotations.summary }}

**类型:** {{ .Labels.alertname }} 

**级别:** {{ .Labels.severity }}

**实例:** {{ .Labels.instance }} 

**详情:** {{ index .Annotations "description" }}

**告警时间:** {{ dateInZone "2006.01.02 15:04:05" (.StartsAt) "Asia/Shanghai" }}

**恢复时间:** {{ dateInZone "2006.01.02 15:04:05" (.EndsAt) "Asia/Shanghai" }}
{{ end }}{{ end }}
 
 
{{ define "default.title" }}
{{ template "__subject" . }}
{{ end }}


{{ define "default.content" }}
{{ if gt (len .Alerts.Firing) 0 }}
**故障告警「侦测到 {{ .Alerts.Firing | len  }} 个故障」**
{{ template "__alert_list" .Alerts.Firing }}
---
{{ end }}

{{ if gt (len .Alerts.Resolved) 0 }}
**恢复通知「已恢复 {{ .Alerts.Resolved | len  }} 个故障」**
{{ template "__resolved_list" .Alerts.Resolved }}
---
{{ end }}
{{ end }}
 
 
{{ define "ding.link.title" }}{{ template "default.title" . }}{{ end }}
{{ define "ding.link.content" }}{{ template "default.content" . }}{{ end }}
{{ template "default.title" . }}
{{ template "default.content" . }}
